.modal {
  display: none;
  z-index: 2;
}
.dropbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.26102941176470584) 0%,
    rgba(0, 0, 0, 0.5131302521008403) 100%
  );
  z-index: 2;
}
