.premium {
  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 630px;
    background-color: var(--color-dark);
    margin: 0 auto;
    position: absolute;
    top: 5%;
    left: 20%;
    z-index: 2;
    flex-wrap: wrap;
    flex-direction: column;
    transform-style: preserve-3d;
    animation: fadeIn 0.5s ease-in-out;
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: rotateX(-90deg);
      }
      to {
        opacity: 1;
        transform: rotateX(0deg);
      }
    }
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  &__tytle {
    font-size: 50px;
  }
  &__planes {
    display: flex;
    gap: 40px;
  }
  &__card {
    width: 300px;
    height: 400px;
    background-color: #000f3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    transform: rotateY(20deg);
    box-shadow: black 2px 2px 4px;

    &:hover {
      // transform: rotateZ(20deg);
      transform: rotateY(0deg);
      box-shadow: none;
    }
  }
  &__card-tytle {
    font-size: 23px;
    margin: 0;
    padding: 5px 10px;
  }
  &__list-item {
    padding: 0;
    margin: 0 30px 10px 0;
    color: var(--color-text-light);
  }
  &__button {
    appearance: none;
    background-color: var(--color-dark);
    border-width: 0;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
      background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
      color 100ms cubic-bezier(0.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;

    &:before {
      animation: opacityFallbackOut 0.5s step-end forwards;
      backface-visibility: hidden;
      background-color: var(--color-text-light);
      border-radius: 20px;
      clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: translateZ(0);
      transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
        -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      width: 100%;
    }

    &:hover:before {
      animation: opacityFallbackIn 0s step-start forwards;
      clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    }

    &:after {
      background-color: #ffffff;
    }

    & span {
      z-index: 1;
      position: relative;
    }
  }
}
